<!DOCTYPE html>
<html>

<head>
    <title>KeepItPrivate</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <style>
        .message-box {
            margin: 0;
            position: absolute;
            top: 20%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .chats-area {
            margin: 0;
            position: absolute;
            top: 40%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    </style>
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('signup') }}">Sign up</a></li>
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <h1>Welcome to your secure chat</h1>



    <form id="message_input_form">
        <input type="text" id="message_input" placeholder="Enter your message here">
        <button type="submit">Send</button>
    </form>

    <div id="messages">
    </div>

</body>

<script src="../../static/js/open_chat.js"></script>

</html>
