<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Chat App</title>
</head>
<body>
<h1>Sign Up</h1>
<h3>{{ message }}</h3>
<form method="post" action="/signup">
    <label>Username:</label>
    <input type="text" name="username">
    <br>
    <label>Email:</label>
    <input type="email" name="email">
    <br>
    <label>Password:</label>
    <input type="password" name="password">
    <br>
    <button type="submit">Submit</button>
</form>
</body>
<script>
    const socket = io.connect("http://127.0.0.1:5000");

    socket.on('connect', function () {
        socket.emit('join_room', {
            username: "{{ username }}",
            room: "{{ room._id }}"
        });

        let message_input = document.getElementById('message_input');

        document.getElementById('message_input_form').onsubmit = function (e) {
            e.preventDefault();
            let message = message_input.value.trim();
            if (message.length) {
                socket.emit('send_message', {
                    username: "{{ username }}",
                    room: "{{ room._id }}",
                    message: message
                })
            }
            message_input.value = '';
            message_input.focus();
        }
    });
</script>

</html>
